In [2]:
from urllib.request import urlretrieve
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [58]:
url ='https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1995.csv'
urlretrieve(url,'atp_matches_1995.csv')

('atp_matches_1995.csv', <http.client.HTTPMessage at 0x2ae5aa95df0>)

In [59]:
# Loading my partially-cleaned versions of Jeff Sackmann's raw data

#df_2021 = pd.read_csv('../data/JNR_processed_data/atp_matches_2021_jnr.csv')
#df_2020 = pd.read_csv('../data/JNR_processed_data/atp_matches_2020_jnr.csv')
df_2019 = pd.read_csv('../data/JNR_processed_data/atp_matches_2019_jnr.csv')
df_2018 = pd.read_csv('../data/JNR_processed_data/atp_matches_2018_jnr.csv')
df_2017 = pd.read_csv('../data/JNR_processed_data/atp_matches_2017_jnr.csv')
df_2016 = pd.read_csv('../data/JNR_processed_data/atp_matches_2016_jnr.csv')
df_2015 = pd.read_csv('../data/JNR_processed_data/atp_matches_2015_jnr.csv')
df_2014 = pd.read_csv('../data/JNR_processed_data/atp_matches_2014_jnr.csv')
df_2013 = pd.read_csv('../data/JNR_processed_data/atp_matches_2013_jnr.csv')
df_2012 = pd.read_csv('../data/JNR_processed_data/atp_matches_2012_jnr.csv')
df_2011 = pd.read_csv('../data/JNR_processed_data/atp_matches_2011_jnr.csv')
df_2010 = pd.read_csv('../data/JNR_processed_data/atp_matches_2010_jnr.csv')
df_2009 = pd.read_csv('../data/JNR_processed_data/atp_matches_2009_jnr.csv')
df_2008 = pd.read_csv('../data/JNR_processed_data/atp_matches_2008_jnr.csv')
df_2007 = pd.read_csv('../data/JNR_processed_data/atp_matches_2007_jnr.csv')
df_2006 = pd.read_csv('../data/JNR_processed_data/atp_matches_2006_jnr.csv')
df_2005 = pd.read_csv('../data/JNR_processed_data/atp_matches_2005_jnr.csv')
df_2004 = pd.read_csv('../data/JNR_processed_data/atp_matches_2004_jnr.csv')
df_2003 = pd.read_csv('../data/JNR_processed_data/atp_matches_2003_jnr.csv')
df_2002 = pd.read_csv('../data/JNR_processed_data/atp_matches_2002_jnr.csv')
df_2001 = pd.read_csv('../data/JNR_processed_data/atp_matches_2001_jnr.csv')
df_2000 = pd.read_csv('../data/JNR_processed_data/atp_matches_2000_jnr.csv')
df_1999 = pd.read_csv('../data/JNR_processed_data/atp_matches_1999_jnr.csv')
df_1998 = pd.read_csv('../data/JNR_processed_data/atp_matches_1998_jnr.csv')
df_1997 = pd.read_csv('../data/JNR_processed_data/atp_matches_1997_jnr.csv')
df_1996 = pd.read_csv('../data/JNR_processed_data/atp_matches_1996_jnr.csv')
df_1995 = pd.read_csv('../data/JNR_processed_data/atp_matches_1995_jnr.csv')

In [60]:
df = pd.concat([df_2019, df_2018, df_2017, df_2016, df_2015, df_2014, df_2013, df_2012, df_2011, df_2010, df_2009, df_2008, df_2007, df_2006, df_2005, df_2004, df_2003, df_2002, df_2001, df_2000, df_1999, df_1998, df_1997, df_1996, df_1995], ignore_index=True)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79666 entries, 0 to 79665
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          79666 non-null  object
 1   tourney_name        79666 non-null  object
 2   surface             79666 non-null  object
 3   draw_size           79666 non-null  int64
 4   tourney_level       79666 non-null  object
 5   tour_yr             79666 non-null  int64
 6   tourney_date        79666 non-null  int64
 7   match_num           79666 non-null  int64
 8   winner_id           79666 non-null  int64
 9   winner_seed         32378 non-null  float64
 10  winner_entry        9594 non-null   object
 11  winner_name         79666 non-null  object
 12  winner_hand         79659 non-null  object
 13  winner_ht           77043 non-null  float64
 14  winner_ioc          79666 non-null  object
 15  winner_age          79657 non-null  float64
 16  loser_id            79666 non-null  int64
 17  loser_seed          17709 non-null  float64
 18  loser_entry         15916 non-null  object
 19  loser_name          79666 non-null  object
 20  loser_hand          79629 non-null  object
 21  loser_ht            74365 non-null  float64
 22  loser_ioc           79666 non-null  object
 23  loser_age           79642 non-null  float64
 24  score               79666 non-null  object
 25  best_of             79666 non-null  int64
 26  round               79666 non-null  object
 27  minutes             70869 non-null  float64
 28  w_ace               71739 non-null  float64
 29  w_df                71739 non-null  float64
 30  w_svpt              71739 non-null  float64
 31  w_1stIn             71738 non-null  float64
 32  w_1stWon            71739 non-null  float64
 33  w_2ndWon            71739 non-null  float64
 34  w_SvGms             71739 non-null  float64
 35  w_bpSaved           71739 non-null  float64
 36  w_bpFaced           71739 non-null  float64
 37  l_ace               71739 non-null  float64
 38  l_df                71739 non-null  float64
 39  l_svpt              71739 non-null  float64
 40  l_1stIn             71738 non-null  float64
 41  l_1stWon            71739 non-null  float64
 42  l_2ndWon            71739 non-null  float64
 43  l_SvGms             71739 non-null  float64
 44  l_bpSaved           71739 non-null  float64
 45  l_bpFaced           71739 non-null  float64
 46  winner_rank         78919 non-null  float64
 47  winner_rank_points  78733 non-null  float64
 48  loser_rank          77909 non-null  float64
 49  loser_rank_points   77717 non-null  float64
dtypes: float64(29), int64(7), object(14)
memory usage: 30.4+ MB

In [62]:
# Rename useful columns with more brevity
df.rename(columns = {'round':'t_round','best_of':'m_best_of','match_num':'m_num','tourney_id':'t_id','tourney_name':'t_name','surface':'t_surf','draw_size':'t_draw_size','tourney_level':'t_lvl','tourney_date':'t_date','winner_id':'w_id','winner_seed':'w_sd','winner_entry':'w_ent','winner_name':'w_name','winner_ht':'w_ht','winner_hand':'w_hd','winner_ioc':'w_ioc','winner_age':'w_age', 'loser_id':'l_id','loser_seed':'l_sd','loser_entry':'l_ent','loser_name':'l_name','loser_hand':'l_hd','loser_ht':'l_ht','loser_ioc':'l_ioc','loser_age':'l_age','score':'m_score','minutes':'m_time(m)','winner_rank':'w_rank','winner_rank_points':'w_rank_pts','loser_rank':'l_rank','loser_rank_points':'l_rank_pts'}, inplace=True)

In [63]:
df = df.drop(['w_df','w_1stIn','l_df','l_1stIn','w_sd','l_sd'],axis=1)

In [64]:
# Remove Davis Cup and Grass Court tournaments, and matches resulting in Walkover. Also, restricting to only matches where at least 12 games were completed.
df = df[~df['t_name'].str.contains("Olympics")]
df = df[~df['t_name'].str.contains("Davis Cup")]
df = df[~df['t_surf'].str.contains("Grass")]
df = df[~df['m_score'].str.contains("W/O")]
df = df[(df['w_SvGms'] + df['l_SvGms'] >= 12)]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48808 entries, 64 to 62035
Data columns (total 44 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   t_id         48808 non-null  object
 1   t_name       48808 non-null  object
 2   t_surf       48808 non-null  object
 3   t_draw_size  48808 non-null  int64
 4   t_lvl        48808 non-null  object
 5   tour_yr      48808 non-null  int64
 6   t_date       48808 non-null  int64
 7   m_num        48808 non-null  int64
 8   w_id         48808 non-null  int64
 9   w_ent        6741 non-null   object
 10  w_name       48808 non-null  object
 11  w_hd         48808 non-null  object
 12  w_ht         48003 non-null  float64
 13  w_ioc        48808 non-null  object
 14  w_age        48808 non-null  float64
 15  l_id         48808 non-null  int64
 16  l_ent        11182 non-null  object
 17  l_name       48808 non-null  object
 18  l_hd         48808 non-null  object
 19  l_ht         46848 non-null  float64
 20  l_ioc        48808 non-null  object
 21  l_age        48808 non-null  float64
 22  m_score      48808 non-null  object
 23  m_best_of    48808 non-null  int64
 24  t_round      48808 non-null  object
 25  m_time(m)    48789 non-null  float64
 26  w_ace        48808 non-null  float64
 27  w_svpt       48808 non-null  float64
 28  w_1stWon     48808 non-null  float64
 29  w_2ndWon     48808 non-null  float64
 30  w_SvGms      48808 non-null  float64
 31  w_bpSaved    48808 non-null  float64
 32  w_bpFaced    48808 non-null  float64
 33  l_ace        48808 non-null  float64
 34  l_svpt       48808 non-null  float64
 35  l_1stWon     48808 non-null  float64
 36  l_2ndWon     48808 non-null  float64
 37  l_SvGms      48808 non-null  float64
 38  l_bpSaved    48808 non-null  float64
 39  l_bpFaced    48808 non-null  float64
 40  w_rank       48788 non-null  float64
 41  w_rank_pts   48788 non-null  float64
 42  l_rank       48690 non-null  float64
 43  l_rank_pts   48690 non-null  float64
dtypes: float64(23), int64(7), object(14)
memory usage: 16.8+ MB

In [65]:
df = df[["t_id", "t_surf", "tour_yr", "w_id", "w_name", "w_ht", "w_age", "l_id", "l_name", "l_ht", "l_age", "w_ace", "w_svpt", "w_1stWon", "w_2ndWon", "w_SvGms", "w_bpSaved", "w_bpFaced", "l_ace", "l_svpt", "l_1stWon", "l_2ndWon", "l_SvGms", "l_bpSaved", "l_bpFaced", "w_rank", "l_rank"]]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48808 entries, 64 to 62035
Data columns (total 27 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   t_id       48808 non-null  object
 1   t_surf     48808 non-null  object
 2   tour_yr    48808 non-null  int64
 3   w_id       48808 non-null  int64
 4   w_name     48808 non-null  object
 5   w_ht       48003 non-null  float64
 6   w_age      48808 non-null  float64
 7   l_id       48808 non-null  int64
 8   l_name     48808 non-null  object
 9   l_ht       46848 non-null  float64
 10  l_age      48808 non-null  float64
 11  w_ace      48808 non-null  float64
 12  w_svpt     48808 non-null  float64
 13  w_1stWon   48808 non-null  float64
 14  w_2ndWon   48808 non-null  float64
 15  w_SvGms    48808 non-null  float64
 16  w_bpSaved  48808 non-null  float64
 17  w_bpFaced  48808 non-null  float64
 18  l_ace      48808 non-null  float64
 19  l_svpt     48808 non-null  float64
 20  l_1stWon   48808 non-null  float64
 21  l_2ndWon   48808 non-null  float64
 22  l_SvGms    48808 non-null  float64
 23  l_bpSaved  48808 non-null  float64
 24  l_bpFaced  48808 non-null  float64
 25  w_rank     48788 non-null  float64
 26  l_rank     48690 non-null  float64
dtypes: float64(20), int64(3), object(4)
memory usage: 10.4+ MB

In [66]:
# Ages reported with too much precision in the original file
df["w_age"] = df["w_age"].round(2)
df["l_age"] = df["l_age"].round(2)

In [67]:
# Creation of target feature for each player in a given match: proportionalizing points played in the match appropriately between the two players.
df["w_pts_won%"] = round(((df["w_1stWon"] + df["w_2ndWon"] + (df["l_svpt"] - (df["l_1stWon"] + df["l_2ndWon"])))/ (df["w_svpt"] + df["l_svpt"]))*100, 2)

# Loser % pts won is simply 100 - w % pts won
df["l_pts_won%"] = 100 - df["w_pts_won%"]

In [68]:
# Target broken down into serving and returning 

# Winner % Serve pts won
df["w_sv_pts_won%"] = round((df["w_1stWon"] + df["w_2ndWon"]) / df["w_svpt"]*100,2)

# Winner % Return pts won
df["w_ret_pts_won%"] =round(((df["l_svpt"] - (df["l_1stWon"] + df["l_2ndWon"]))/df["l_svpt"])*100,2)

# Loser % Serve pts won
df["l_sv_pts_won%"] = round((df["l_1stWon"] + df["l_2ndWon"]) / df["l_svpt"]*100,2)

# Loser % Return pts won
df["l_ret_pts_won%"] =round(((df["w_svpt"] - (df["w_1stWon"] + df["w_2ndWon"]))/df["w_svpt"])*100,2)

In [69]:
# Not a target feature, but useful for generating predictive features: Total Points Played In Match
df["tot_pts"] = df["l_svpt"] + df["w_svpt"]

In [70]:
df_winners = df.drop(["l_name", "l_rank", "l_ht", "l_age", "l_1stWon", "l_2ndWon", "l_SvGms", "l_pts_won%", "l_sv_pts_won%", "l_ret_pts_won%"], axis = 1)
df_winners["m_outcome"] = 1
df_losers =  df.drop(["w_name", "w_rank", "w_ht", "w_age", "w_1stWon", "w_2ndWon", "w_SvGms", "w_pts_won%", "w_sv_pts_won%", "w_ret_pts_won%"], axis = 1)
df_losers["m_outcome"] = 0

In [29]:
df_winners.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48808 entries, 64 to 62035
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   t_id            48808 non-null  object
 1   t_surf          48808 non-null  object
 2   tour_yr         48808 non-null  int64
 3   w_id            48808 non-null  int64
 4   w_name          48808 non-null  object
 5   w_ht            48003 non-null  float64
 6   w_age           48808 non-null  float64
 7   l_id            48808 non-null  int64
 8   w_ace           48808 non-null  float64
 9   w_svpt          48808 non-null  float64
 10  w_1stWon        48808 non-null  float64
 11  w_2ndWon        48808 non-null  float64
 12  w_SvGms         48808 non-null  float64
 13  w_bpSaved       48808 non-null  float64
 14  w_bpFaced       48808 non-null  float64
 15  l_ace           48808 non-null  float64
 16  l_svpt          48808 non-null  float64
 17  l_bpSaved       48808 non-null  float64
 18  l_bpFaced       48808 non-null  float64
 19  w_rank          48788 non-null  float64
 20  w_pts_won%      48808 non-null  float64
 21  w_sv_pts_won%   48808 non-null  float64
 22  w_ret_pts_won%  48808 non-null  float64
 23  tot_pts         48808 non-null  float64
 24  m_outcome       48808 non-null  int64
dtypes: float64(18), int64(4), object(3)
memory usage: 9.7+ MB

In [35]:
df_winners.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48808 entries, 64 to 62035
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   t_id            48808 non-null  object
 1   t_surf          48808 non-null  object
 2   tour_yr         48808 non-null  int64
 3   p_id            48808 non-null  int64
 4   p_name          48808 non-null  object
 5   p_ht            48003 non-null  float64
 6   p_age           48808 non-null  float64
 7   opp_id          48808 non-null  int64
 8   p_ace           48808 non-null  float64
 9   p_svpt          48808 non-null  float64
 10  p_1stWon        48808 non-null  float64
 11  p_2ndWon        48808 non-null  float64
 12  p_SvGms         48808 non-null  float64
 13  p_bpSaved       48808 non-null  float64
 14  p_bpFaced       48808 non-null  float64
 15  opp_ace         48808 non-null  float64
 16  opp_svpt        48808 non-null  float64
 17  opp_bpSaved     48808 non-null  float64
 18  opp_bpFaced     48808 non-null  float64
 19  p_rank          48788 non-null  float64
 20  p_pts_won%      48808 non-null  float64
 21  p_sv_pts_won%   48808 non-null  float64
 22  p_ret_pts_won%  48808 non-null  float64
 23  tot_pts         48808 non-null  float64
 24  m_outcome       48808 non-null  int64
dtypes: float64(18), int64(4), object(3)
memory usage: 9.7+ MB

In [71]:
# Split out winners and losers from by-match organization and concatenate into a per player organization
df_winners = df_winners.set_axis(["t_id", "t_surf", "tour_yr", "p_id", "p_name", "p_ht", "p_age", "opp_id", "p_ace", "p_svpt", "p_1stWon", "p_2ndWon", "p_SvGms", "p_bpSaved", "p_bpFaced", "opp_ace", "opp_svpt", "opp_bpSaved", "opp_bpFaced", "p_rank", "p_pts_won%", "p_sv_pts_won%", "p_ret_pts_won%", "tot_pts", "m_outcome"], axis=1)
df_losers = df_losers.set_axis(["t_id", "t_surf", "tour_yr", "opp_id", "p_id", "p_name", "p_ht", "p_age", "opp_ace", "opp_svpt", "opp_bpSaved", "opp_bpFaced", "p_ace", "p_svpt", "p_1stWon", "p_2ndWon", "p_SvGms", "p_bpSaved", "p_bpFaced", "p_rank", "p_pts_won%", "p_sv_pts_won%", "p_ret_pts_won%", "tot_pts", "m_outcome"], axis=1)
df_player1 = pd.concat([df_winners, df_losers], ignore_index=True)
df_player1 = df_player1.sort_values(by=['p_id','tour_yr'], ascending = False)

In [72]:
# Filter down to only players in top 200 at any given time step (ie, match occurance)
df_player1 = df_player1.loc[(df_player1["p_rank"] <= 200)]

In [73]:
df_player1.to_csv('../data/df_player1.csv', index=False)

In [76]:
# Fill missing player heights

df_player1.loc[(df_player1["p_name"] == "Adrian Andreev"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Adrian Menendez Maceiras"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Agustin Velotti"), "p_ht"] = 174

df_player1.loc[(df_player1["p_name"] == "Akira Santillan"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Alejandro Gomez "), "p_ht"] = 183 #his csv entries have a trailing space for some reason

df_player1.loc[(df_player1["p_name"] == "Alejandro Gonzalez"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Alen Avidzba"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Alessandro Bega"), "p_ht"] = 173

df_player1.loc[(df_player1["p_name"] == "Alex Bolt"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Alexandar Lazarov"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Alexander Donski"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Alexander Sarkissian"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Alexandre Muller"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Alexandre Sidorenko"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Alexey Vatutin"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Alexios Halebian"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Alibek Kachmazov"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Amine Ahouda"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Andrea Arnaboldi"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Andrea Basso"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Andres Artunedo Martinavarro"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Andres Molteni"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Andrew Whittington"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Anil Yuksel"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Ante Pavic"), "p_ht"] = 196

df_player1.loc[(df_player1["p_name"] == "Antoine Bellier"), "p_ht"] = 196

df_player1.loc[(df_player1["p_name"] == "Antoine Hoang"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Antonio Veic"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Arjun Kadhe"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Artem Dubrivnyy"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Aleksandar Vukic"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Arthur De Greef"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Austin Krajicek"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Austin Smith"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Axel Michon"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Bastian Trinker"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Benjamin Bonzi"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Benjamin Mitchell"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Bernabe Zapata Miralles"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Bjorn Fratangelo"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Daniel Kosakowski"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Daniel Garza"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Daniel Altmaier"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Constant Lestienne"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Collin Altamirano"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Chun Hsin Tseng"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Christopher Eubanks"), "p_ht"] = 201

df_player1.loc[(df_player1["p_name"] == "Christian Harrison"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Chase Buchanan"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Carlos Taberner"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Carl Soderlund"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Calvin Hemery"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Guillermo Olaso"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Clement Reix"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Brayden Schnur"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Bowen Ouyang"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Borna Gojo"), "p_ht"] = 196

df_player1.loc[(df_player1["p_name"] == "Blake Mott"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Fabrice Martin"), "p_ht"] = 198

df_player1.loc[(df_player1["p_name"] == "Fabiano De Paula"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Evgeny Karlovskiy"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Evgenii Tiurnev"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Ernesto Escobedo"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Eric Quigley"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Enrique Lopez Perez"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Emilio Nava"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Emilio Gomez"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Emil Reinberg"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Elliot Benchetrit"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Eduardo Struvay"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Dennis Novikov"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "David Vega Hernandez"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Daniel Munoz de la Nava"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Daniel Masur"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Guido Andreozzi"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Gregoire Burquier"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Gleb Sakharov"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Gianluigi Quinzi"), "p_ht"] = 171

df_player1.loc[(df_player1["p_name"] == "Facundo Arguello"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Gian Marco Moroni"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Germain Gigounon"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Gerardo Lopez Villasenor"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Geoffrey Blancaneaux"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Frederico Ferreira Silva"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Francisco Cerundolo"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Filippo Baldi"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Filip Horansky"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Federico Gaio"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Federico Coria"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Fred Simonsson"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "John Patrick Smith"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Johan Nikles"), "p_ht"] = 173

df_player1.loc[(df_player1["p_name"] == "Jenson Brooksby"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Jeevan Nedunchezhiyan"), "p_ht"] = 173

df_player1.loc[(df_player1["p_name"] == "Jc Aragone"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Jason Kubler"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Jason Jung"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Jared Donaldson"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Jan Satral"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Jack Mingjie Lin"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Jabor Al Mutawa"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Isak Arvidsson"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Inigo Cervantes Huegun"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Hugo Gaston"), "p_ht"] = 173

df_player1.loc[(df_player1["p_name"] == "Hicham Khaddari"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Jordi Samper Montana"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Joris De Loore"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Juan Ignacio Londero"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Julian Lenz"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Jurij Rodionov"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Kamil Majchrzak"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Karim Hossam"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Kento Takeuchi"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Kevin King"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Laurent Lokoli"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Liam Broady"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Liam Caruana"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Lorenzo Giustino"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Louis Wessels"), "p_ht"] = 198

df_player1.loc[(df_player1["p_name"] == "Luca Vanni"), "p_ht"] = 198

df_player1.loc[(df_player1["p_name"] == "Lucas Catarina"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Lucas Miedler"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Luis Patino"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Luke Saville"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Mackenzie Mcdonald"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Marc Andrea Huesler"), "p_ht"] = 196

df_player1.loc[(df_player1["p_name"] == "Marc Polmans"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Marcelo Demoliner"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Marco Trungelliti"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Marko Tepavac"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Martin Alund"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Martin Vaisse"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Marvin Moeller"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Mate Valkusz"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Mathias Bourgue"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Matteo Donati"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Matteo Trevisan"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Matteo Viola"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Matthew Barton"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Maxime Hamou"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Maxime Janvier"), "p_ht"] = 196

df_player1.loc[(df_player1["p_name"] == "Maxime Teixeira"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Maximilian Marterer"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Michael Linzer"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Michael Mmoh"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Mikael Torpegaard"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Miljan Zekic"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Mitchell Krueger"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Mousa Shanan Zayed"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Mubarak Shannan Zayid"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "N Vijay Sundar Prashanth"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Nathan Pasha"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Nicola Kuhn"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Nicolas Kicker"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Nikola Cacic"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Nino Serdarusic"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Noah Rubin"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Oliver Anderson"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Omar Awadhy"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Omar Jasika"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Oriol Roca Batalla"), "p_ht"] = 173

df_player1.loc[(df_player1["p_name"] == "Orlando Luz"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Oscar Otte"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Patrick Ciorcila"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Patrick Kypson"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Patrik Rosenholm"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Pedja Krstin"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Pedro Cachin"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Pedro Martinez"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Pedro Sakamoto"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Peter Torebko"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Petros Chrysochos"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Philip Davydenko"), "p_ht"] = 183


df_player1.loc[(df_player1["p_name"] == "Quentin Halys"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Rayane Roumane"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Raymond Sarmiento"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Rhyne Williams"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Ricardo Ojeda Lara"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Riccardo Bellotti"), "p_ht"] = 179

df_player1.loc[(df_player1["p_name"] == "Roberto Marcora"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Roberto Ortega Olmedo"), "p_ht"] = 168

df_player1.loc[(df_player1["p_name"] == "Roman Safiullin"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Rudolf Molleker"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Ryan Shane"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Sebastian Ofner"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Sekou Bangoura"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Stefan Kozlov"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Stefano Napolitano"), "p_ht"] = 196

df_player1.loc[(df_player1["p_name"] == "Steven Diez"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Sumit Nagal"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Takanyi Garanganga"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Takuto Niki"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Tallon Griekspoor"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Thai Son Kwiatkowski"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Thiago Seyboth Wild"), "p_ht"] = 179

df_player1.loc[(df_player1["p_name"] == "Thomas Fabbiano"), "p_ht"] = 173

df_player1.loc[(df_player1["p_name"] == "Tim Puetz"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Tim Van Rijthoven"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Toni Androic"), "p_ht"] = 168

df_player1.loc[(df_player1["p_name"] == "Tristan Lamasine"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Vaclav Safranek"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Victor Baluda"), "p_ht"] = 179

df_player1.loc[(df_player1["p_name"] == "Viktor Galovic"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Xin Gao"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Yan Bai"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Yaraslav Shyla"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Yassine Idmbarek"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Yibing Wu"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Yosuke Watanuki"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Yusuke Takahashi"), "p_ht"] = 170

df_player1.loc[(df_player1["p_name"] == "Zachary Svajda"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Zdenek Kolar"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Zsombor Piros"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Nils Langer"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Jaroslav Pospisil"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Dimitar Kutrovsky"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Javier Marti"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Sergio Gutierrez Ferrol"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Alexander Ward"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Andrey Kumantsov"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Ariez Elyaas Deen Heshaam"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Boy Westerhof"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Carlos Gomez Herrera"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Dennis Lajola"), "p_ht"] = 179

df_player1.loc[(df_player1["p_name"] == "Dino Marcan"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Erik Chvojka"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Filip Veger"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Gerard Granollers"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Gianluca Naso"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Ivan Nedelko"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Jonathan Dasnieres De Veigy"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Josko Topic"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Kristijan Mesaros"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Marko Djokovic"), "p_ht"] = 187

df_player1.loc[(df_player1["p_name"] == "Maxime Authom"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Mehdi Ziadi"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Mikhail Biryukov"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Milos Sekulic"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Nicolas Meister"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Nikolai Fidirko"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Peerakiat Siriluethaiwattana"), "p_ht"] = 175

df_player1.loc[(df_player1["p_name"] == "Romain Bogaerts"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Sergey Betov"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Suk Young Jeong"), "p_ht"] = 177

df_player1.loc[(df_player1["p_name"] == "Walter Trusendi"), "p_ht"] = 179

df_player1.loc[(df_player1["p_name"] == "Wishaya Trongcharoenchaikul"), "p_ht"] = 193

df_player1.loc[(df_player1["p_name"] == "Yannick Mertens"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Younes Rachidi"), "p_ht"] =  177

df_player1.loc[(df_player1["p_name"] == "Jan Minar"), "p_ht"] =  189

df_player1.loc[(df_player1["p_name"] == "Maximilian Abel"), "p_ht"] =  178

df_player1.loc[(df_player1["p_name"] == "Dawid Olejniczak"), "p_ht"] =  191

df_player1.loc[(df_player1["p_name"] == "Adrian Cruciat"), "p_ht"] =  185

df_player1.loc[(df_player1["p_name"] == "Bastian Knittel"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Augustin Gensse"), "p_ht"] = 180

df_player1.loc[(df_player1["p_name"] == "Dusan Lojda"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Prajnesh Gunneswaran"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Danilo Petrovic"), "p_ht"] = 203

df_player1.loc[(df_player1["p_name"] == "Andrew Harris"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Mario Vilella Martinez"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Joao Menezes"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Enzo Couacaud"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Dmitry Popko"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Botic Van De Zandschulp"), "p_ht"] = 191

df_player1.loc[(df_player1["p_name"] == "Juan Pablo Varillas"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Alejandro Tabilo"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Arthur Rinderknech"), "p_ht"] = 196

df_player1.loc[(df_player1["p_name"] == "Max Purcell"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Alex Molcan"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Zizou Bergs"), "p_ht"] = 185

df_player1.loc[(df_player1["p_name"] == "Kacper Zuk"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "J J Wolf"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Sebastian Baez"), "p_ht"] = 170

df_player1.loc[(df_player1["p_name"] == "Brandon Nakashima"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Juan Manuel Cerundolo"), "p_ht"] = 183

df_player1.loc[(df_player1["p_name"] == "Tomas Machac"), "p_ht"] = 183
 
df_player1.loc[(df_player1["p_name"] == "Holger Rune"), "p_ht"] = 188

df_player1.loc[(df_player1["p_name"] == "Mario Rincon"), "p_ht"] = 178

df_player1.loc[(df_player1["p_name"] == "Juan Luis Tati Rascon"), "p_ht"] = 191

In [75]:
#df_player1.to_csv('../data/df_player1.csv', index=False)

In [34]:
df_player1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97616 entries, 44317 to 67360
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   t_id            97616 non-null  object
 1   t_surf          97616 non-null  object
 2   tour_yr         97616 non-null  int64
 3   p_id            97616 non-null  int64
 4   p_name          97616 non-null  object
 5   p_ht            94851 non-null  float64
 6   p_age           97616 non-null  float64
 7   opp_id          97616 non-null  int64
 8   p_ace           97616 non-null  float64
 9   p_svpt          97616 non-null  float64
 10  p_1stWon        97616 non-null  float64
 11  p_2ndWon        97616 non-null  float64
 12  p_SvGms         97616 non-null  float64
 13  p_bpSaved       97616 non-null  float64
 14  p_bpFaced       97616 non-null  float64
 15  opp_ace         97616 non-null  float64
 16  opp_svpt        97616 non-null  float64
 17  opp_bpSaved     97616 non-null  float64
 18  opp_bpFaced     97616 non-null  float64
 19  p_rank          97478 non-null  float64
 20  p_pts_won%      97616 non-null  float64
 21  p_sv_pts_won%   97616 non-null  float64
 22  p_ret_pts_won%  97616 non-null  float64
 23  tot_pts         97616 non-null  float64
 24  m_outcome       97616 non-null  int64
dtypes: float64(18), int64(4), object(3)
memory usage: 19.4+ MB

In [77]:
# calculating player ace% per match 
df_player1["p_ace%"] = ((df_player1["p_ace"]/df_player1["p_svpt"])*100).round(2)

In [78]:
# calculating player aced% per match 
df_player1["p_aced%"] = ((df_player1["opp_ace"]/df_player1["opp_svpt"])*100).round(2)

In [79]:
# calculating player break point save% (as a server) per match
df_player1["p_bp_save%"] = ((df_player1["p_bpSaved"]/df_player1["p_bpFaced"])*100).round(2)
df_player1['p_bp_save%'] = df_player1['p_bp_save%'].fillna(100) #covers the cases where a player faced 0 break pts in the match

In [80]:
# calculating player break point convert% (as a returner) per match
df_player1["p_bp_convert%"] = ((1 - (df_player1["opp_bpSaved"]/df_player1["opp_bpFaced"]))*100).round(2)
df_player1['p_bp_convert%'] = df_player1['p_bp_convert%'].fillna(0) #covers the cases where a player generated 0 break point opportunities in a match

In [81]:
df_player1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117345 entries, 106603 to 75847
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   t_id            117345 non-null  object
 1   t_surf          117345 non-null  object
 2   tour_yr         117345 non-null  int64
 3   p_id            117345 non-null  int64
 4   p_name          117345 non-null  object
 5   p_ht            117345 non-null  float64
 6   p_age           117345 non-null  float64
 7   opp_id          117345 non-null  int64
 8   p_ace           117345 non-null  float64
 9   p_svpt          117345 non-null  float64
 10  p_1stWon        117345 non-null  float64
 11  p_2ndWon        117345 non-null  float64
 12  p_SvGms         117345 non-null  float64
 13  p_bpSaved       117345 non-null  float64
 14  p_bpFaced       117345 non-null  float64
 15  opp_ace         117345 non-null  float64
 16  opp_svpt        117345 non-null  float64
 17  opp_bpSaved     117345 non-null  float64
 18  opp_bpFaced     117345 non-null  float64
 19  p_rank          117345 non-null  float64
 20  p_pts_won%      117345 non-null  float64
 21  p_sv_pts_won%   117343 non-null  float64
 22  p_ret_pts_won%  117342 non-null  float64
 23  tot_pts         117345 non-null  float64
 24  m_outcome       117345 non-null  int64
 25  p_ace%          117343 non-null  float64
 26  p_aced%         117342 non-null  float64
 27  p_bp_save%      117345 non-null  float64
 28  p_bp_convert%   117345 non-null  float64
dtypes: float64(22), int64(4), object(3)
memory usage: 26.9+ MB

In [82]:
df_player2 = df_player1[["t_id", "t_surf", "tour_yr", "p_id", "p_name", "p_ht", "p_age", "p_rank", "p_pts_won%", "p_sv_pts_won%", "p_ret_pts_won%", "p_ace%", "p_aced%","p_bp_save%","p_bp_convert%"]]

In [83]:
#save for analysis stage
df_player2.to_csv('../data/df_player2.csv', index=False)